<footer class="footer">
    <div class="container-fluid bg-dark text-light p-3">
        <h3 class="text-center p-3 " style="font-family: 'poppins', sans-serif;">Made by Satya Ranjan </h3>
        <hr>
        <section class=" container d-flex justify-content-center align-items-center justify-content-lg-between p-4">
            <div class="me-5 d-none d-lg-block">
                <h5>
                    <span>Get connected with me on social networks:</span>
                </h5>
            </div>
            <div>
                <a href="https://twitter.com/tubunu84" target="_blank"
                    class="me-4 text-light btn btn-primary text-decoration-none">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/satya._.ranjan/" target="_blank"
                    class="me-4 text-light btn btn-danger text-decoration-none">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.facebook.com/tubunuawosome/" target="_blank"
                    class="me-4 text-light btn btn-primary text-decoration-none">
                    <i class="bi bi-facebook"></i>
                </a>

            </div>

        </section>
        <hr>
        <section class="p-4">
            <h4 class="text-center">❤❤❤</h4>
        </section>




    </div>
</footer>
</body>

</html>