<%- include('partials/header')%>
    <div class="register ">


        <!-- showing error in the form of ejs -->
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <% if(typeof err!='undefined' ){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>
                        <%= err %>
                    </strong>

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>

                    <div class=" d-flex justify-content-center align-items-center ca">
                        <form action="/register" class="crd-reg shadow  rounded p-3 mb-5 " method="POST">
                            <h2 class="text-center pt-2 text-danger  ">Sign-Up</h2>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <label for="name">Name:</label><br>
                            <input type="text" name="name" id=""><br>
                            <label for="email">Email:</label><br>
                            <input type="email" name="email" id=""><br>
                            <label for="email">Password:</label><br>
                            <input type="password" name="password" id=""><br><br>
                            <button type="submit" class="text-center btn btn-primary w-100 ">Register</button>
                        </form>

                    </div>
                    <p class="text-center ">Already have an account
                        <a href="/login" class="btn btn-success ">Login</a>
                    </p>
        </div>
    </div>
    <%- include('partials/footer')%>











        </body>

        </html>